<!DOCTYPE html>
<html>
  <head>
    <title>{{@website.name}}</title>
    <link rel='shortcut icon' type='image/png' href='{{@config.custom.imagesFavicon}}'/>
    <link rel='stylesheet' href='{{css 'style.css' }}'>
  </head>
  <body style='
    margin: 0;
    background-image: url({{@config.custom.imagesBackground}});
    background-size: cover;
    background-position: center;
    height: 100vh;
  '>
    <div>
      {{>menu menus.mainMenu}}
    </div>
