{{>header}}
<div style='display: flex; flex-direction: column; align-items: center'>
  <div style='width: 80%; color: {{@config.custom.colorsIndexTop}}' class='indexTop'>
    {{{@config.custom.contentIndexTop}}}
  </div>
  <div class='page'>
    {{{@config.custom.contentIndex}}}
  </div>
</div>
{{>footer}}
