{{>header}}
<div style='display: flex; flex-direction: column; align-items: center'>
  <div class='page'>
    {{#post}}
      <h1 class='align-center'>{{title}}</h1>
      {{{text}}}
    {{/post}}
  </div>
</div>
{{>footer}}
